

* {
    margin: 0%;
    padding: 0%;
}

.main {
    padding: 3vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}   

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 8vw;
    gap: 3vh;
}

.main-left h2 {
    font-size: 1.3vw;
}

.theme {
    display: flex;
    gap: 2vw;
}

.img-btn {
    border: none;
    background-color: transparent;
    width: 3vw;
    cursor: pointer;
}

.mood {
    display: flex;
    gap: 1vw;
}

.selected {
    border: 0.2vw solid #F8ECD6;
    box-shadow: 0 0 10px #43403b;
    border-radius: 30px;
    transition: 0.2s ease;
}

.emoji {
    width: 3vw;
}


.font {
    display: flex;
    flex-direction: column;

}
.main-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    position: relative;
}

.main-right {
    flex: 1;

}

.letter-bg {

    width: 25vw;
}

.letter-textarea {
    position: absolute;
    top: 12%;
    left: 33%;
    width: 35%;
    height: 75%;
    outline: none;
    background: transparent;
    border: none;
    font-size: 1vw;
    color: #000;
    line-height: 6vh;
    padding: 0;
}



@media screen and (max-width: 768px) {
    .letter-textarea {
        line-height: 1.25rem;
    }
}

@media screen and (max-width: 450px) {
    .letter-textarea {
        line-height: 0.8rem;
    }

}