

:root {
    /* Color Palette */
    --primary-color: #4A5267;
    --secondary-color: #9F4C24;
    --bg-color: #F8ECD6;
    --text-color: #33312d;

    /*Special colors*/
    --primary-btn-hover: #2f3245;

    /* Fonts */
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Homemade Apple', cursive;

    /* Border Radius */
    --radius: 8px;
}