

.radio {

}

.radio-input {
    accent-color: #4A5267;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;

}

.radio-label {
    font-size: 1vw;
    color: #333;
    cursor: pointer;
}

.radio-label:hover {
    color: black;
}


