
.capsule {
    width: 25vw;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
    padding: 2vh;
    gap: 1vh;
}

.capsule p {
    color: var(--text-color);
}

.capsule-title {
    font-weight: bold;
    font-size: 1.2vw;
}

.capsule-mood {
    gap: 0.5vw;
}

.capsule-mood p {
    font-weight: 500;
}

.capsule-icon {
    width: 2vw;
}

.capsule-date {

}

.capsule-date p { 
    font-weight: 500;
}

.capsule-description {
    font-weight: 500;
}