
* {
    margin: 0%;
    padding: 0%;
}

.MyCapsules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.MyCapsules-first-container {
    display: flex;
    flex-direction: row;
    gap: 5vw;

}

.profile {
    background-color: white;
    padding: 8vh;
    display: flex;
    flex-direction: column;
    width: 35vw;
    gap: 8vh;
    
}

.profile_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.profile_1 p {
    font-size: 2vw;
    font-weight: bold;
}

.profile-pic {
    width: 6vw
}

.profile_2 p {
    font-weight: 600;
    font-size: 1.1vw;
}

.profile_3 {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 6vh;
}

.CapsuleStats {
    display: flex;
    flex-direction: row;

}

.capsule_icon {
    width: 2.5vw;
}

.countdown {
    padding: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 20vw;
    gap: 8vh;
}

.countdown_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;

}

.countdown_1 p {
    font-size: 1.2vw;
    font-weight: bold;
}

.countdown_2 p {
    font-weight: 600;
    font-size: 1.1vw;
}

.countdown-number {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.countdown-number span {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}

.countdown_3 {


}

